
@facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/
//facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNmVHTnNOa0ZVY2toVVVXUjNOMDVOZEdOeGIyVnFVMkZFTVU1cQ==
//facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:username=cencosudscotiabankcl01
//facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:always-auth=true